@carouselPrefix: react-puzzles-carousel;

.@{carouselPrefix}-wrapper {
  position: relative;
  width: 100vw;
  height: 200px;
  overflow: hidden;

  /* 启用GPU加速渲染 */
  transform: translate3d(0, 0, 0);

  .@{carouselPrefix}-track {
    display: flex;
    touch-action: pan-x;

    &-vertical {
      flex-direction: column;
      touch-action: pan-y;
    }

    &-animation {
      transition: transform ease 0.3s;
    }
  }
}
